<div class="box-add container mt-4 p-5 w-50">
    <h1>Update Customer</h1>
    <hr class="mb-4">
    <form [formGroup]="CustomerForm">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" required formControlName="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" required formControlName="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Tel_phone</label>
            <input type="text" class="form-control" required formControlName="tel_phone">
        </div>
        <h5>favoriteDrinks</h5>
        <div class="mb-3">
            <label class="form-label">DrinkName</label>
            <select class="form-select" formControlName="drinkName" >
                <!-- <option selected value="#"></option> -->
                <option *ngFor= "let d of drink" value="{{ d.name }}">{{ d.name }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">DrinkType</label>
            <select class="form-select" formControlName="drinkType">
                <option selected value="Hot">Hot</option>
                <option value="cool">cool</option>
                <option value="blended">blended</option>
            </select>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <button type="button" (click)="editCustomer()" class=" btn-info">Save</button>
        </div>
    </form>
</div>